snippet cpp
#include <bits/stdc++.h>
using namespace std;
#define nl cout<<'\n'
#define F first
#define S second
#define PB push_back
#define MP make_pair
typedef long long ll;
typedef vector<int> vi;
typedef vector<long long> vl;
typedef pair<int,int> pi;

int main(){
	ios::sync_with_stdio(false);
	cin.tie(NULL);
	${0}
	return 0;
}
endsnippet

snippet for
for(int i${0}=0; i<n;i++){

}
endsnippet
snippet tc
int t;cin>>t;
while(t--){
	${0}
}

endsnippet
